<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<style>
		.sem-bordas td {
			border: none;
			padding: 5px;
		}
		
		.cel-radio td {
			text-align: center;
		}
	</style>
</h:head>
<h:body>

	<h:form id="frm">
		<p:messages />
	
		<p:panelGrid columns="2">
			<p:outputLabel value="Nome" for="nome"/>
			<p:inputText id="nome" required="true" value="#{alunoBean_6.nome}"/>

			<p:outputLabel value="Sexo" for="sexo" />
			<p:selectOneRadio id="sexo" value="#{alunoBean_6.sexo}" required="true"
					styleClass="sem-bordas" layout="pageDirection">
				<f:selectItem itemLabel="Masculino" itemValue="M" />
				<f:selectItem itemLabel="Feminino" itemValue="F" />
			</p:selectOneRadio>
			
			<p:outputLabel value="Estado civil" for="estadoCivil" />
			<h:panelGroup>
				<p:selectOneRadio id="estadoCivil" value="#{alunoBean_6.estadoCivil}"
					required="true" layout="custom">
			        <f:selectItem itemValue="solteiro" />
			        <f:selectItem itemValue="casado" />
			        <f:selectItem itemValue="divorciado" />
				</p:selectOneRadio>
				
				<h:panelGrid columns="3" styleClass="sem-bordas" rowClasses="cel-radio">
					<p:radioButton id="opt1" for="estadoCivil" itemIndex="0" />
					<p:radioButton id="opt2" for="estadoCivil" itemIndex="1" />
					<p:radioButton id="opt3" for="estadoCivil" itemIndex="2" />
					
					<p:outputLabel value="Solteiro" for="opt1" />
					<p:outputLabel value="Casado" for="opt2" />
					<p:outputLabel value="Divorciado" for="opt3" />
				</h:panelGrid>
			</h:panelGroup>
		</p:panelGrid>
		
		<p:commandButton value="Atualizar" action="#{alunoBean_6.cadastrar}" update="frm"/>
	</h:form>

</h:body>
</html>