<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>

	<h:form id="frm">
		<p:messages />
	
		<p:panelGrid columns="2">
			<p:outputLabel value="Nome" for="nome"/>
			<p:inputText id="nome" required="true" value="#{alunoBean_3.nome}"/>

			<h:panelGroup/>
			<h:panelGroup>
				<p:selectBooleanCheckbox id="aceito" value="#{alunoBean_3.aceito}"/>
				<p:outputLabel value="Aceito os termos de serviço" for="aceito"
					style="margin-left: 5px" />
			</h:panelGroup>
		</p:panelGrid>
		
		<p:commandButton value="Atualizar" action="#{alunoBean_3.cadastrar}" update="frm"/>
	</h:form>

</h:body>
</html>