<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>

	<h:form id="frm">
		<p:messages />
	
		<p:panelGrid columns="2">
			<p:outputLabel value="Nome" for="nome"/>
			<p:inputText id="nome" required="true" value="#{alunoBean_1.nome}"/>

			<p:outputLabel value="Telefone" for="telefone" />
			<p:inputMask id="telefone" value="#{alunoBean_1.telefone}" 
				mask="(99) 9999-9999" />
				
			<p:outputLabel value="Telefone comercial" for="telefoneComercial" />
			<p:inputMask id="telefoneComercial" value="#{alunoBean_1.telefoneComercial}" 
				mask="(99) 9999-9999? x9999" />
				
			<p:outputLabel value="Matrícula" for="matricula" />
			<p:inputMask id="matricula" value="#{alunoBean_1.matricula}" 
				mask="aaa*-9999" placeholder="X" />
		</p:panelGrid>
		
		<p:commandButton value="Atualizar" action="#{alunoBean_1.cadastrar}" update="frm"/>
	</h:form>

</h:body>
</html>