<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <h:form id='frm'>  
            <p:dataTable id="table" var="prod" value="#{produtoBean.produtos}" sortMode="multiple" 
                         rows="7" paginator="true"  emptyMessage="Nenhum produto encontrado." > 
                <p:column filterBy="#{prod.nome}" headerText="Nome do Produto">  
                    <h:outputText value="#{prod.nome}" />  
                </p:column>
                <p:column sortBy="#{prod.preco}" headerText="Preço" >  
                    <h:outputText value="#{prod.preco}" id="preco" >
                        <f:convertNumber  for="preco" pattern="0.00" currencySymbol="R$"/>
                    </h:outputText>  
                </p:column>
                <p:column  headerText="Excluir" >  
                    <p:commandButton  onclick="PF('confirmacaoExclusao').show()" id="excluir" 
                                     icon="ui-icon-trash">
                        <f:setPropertyActionListener value="#{prod}" target="#{produtoBean.nomeProduto}" for="excluir"/>			
                    </p:commandButton>
                  
                </p:column>
            </p:dataTable>
            
            	<p:confirmDialog header="Exclusão de produto" message="Tem certeza que deseja excluir o produto?"
	    		widgetVar="confirmacaoExclusao">
                        <p:commandButton value="Sim" onclick="PF('confirmacaoExclusao').hide()" update="table" action="#{produtoBean.excluir()}"  />
	    		<p:commandButton id="decline" value="Não" onclick="PF('confirmacaoExclusao').hide()" />
	    	</p:confirmDialog>
            <p:growl id="frm"  autoUpdate="true"/>
        </h:form>
    </h:body>
</html>

